{% extends 'base.html'%}

{% load static %}

{% block title%} about {% endblock %}




{% block content%}
<h1 class="text-center">Our Vision</h1>
<hr>
<div class="container">
<div class="row">
<div class="col-8"><img src="{% static '/images/banner1.jpg' %}"></div>
<div class="col-4">
    <p><li>To provide comprehensive patient care by working as a team and offering highest standards of medical service in an ethical manner for delivering extraordinary customer satisfaction.</li></p>
    <p><li>A vision is a clear and compelling statement of what your healthcare organization wants to achieve in the future.</li></p>
    <p><li>To create a centralized integrated hub for providing innovative medical education across specialities. A centre of excellence for imparting competence based medical education using multi-modal teaching tools</li></p>
    <p><li>Vision: It is broader in scope, encompassing the organization's overall impact and ultimate goals. Mission: It is more specific, outlining the organization's target audience, products, or services</li></p>
</div>
</div>

</div>




{% endblock %}