{% extends 'base.html'%}

{% load static %}

{% block title%} contact {% endblock %}




{% block content%}
<div id="carouselExampleCaptions" class="carousel slide">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="{% static '/images/doctors1.jpg' %}" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block"></div>
      <p class="text-success"> Talk to our experts : <i class="bi bi-telephone-x"></i> 1800-123-765-564</p>
      </div>
    </div>
   
  </div>
 
</div>

<div class="map-wrapper">
	<div class="map">
		<div class="mapouter"><div class="gmap_canvas"><iframe width="100%" height="500" id="gmap_canvas" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d63020.71967207737!2d76.46612980723303!3d9.172958568770115!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3b061c549dfb32f3%3A0x3cc5f9f4d4a5b63d!2sKayamkulam%2C%20Kerala!5e0!3m2!1sen!2sin!4v1707756684687!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"><a href="https://www.whatismyip-address.com"></a><br><style>.mapouter{position:relative;text-align:right;height:500px;width:100%;}</style><a href="https://www.embedgooglemap.net">how to add google maps to wordpress</a><style>.gmap_canvas {overflow:hidden;background:none!important;height:500px;width:100%;}</style></div>
    </div>
  </div>
{% endblock %}